body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.logo {
    background-image: url("https://s3.us-east-2.amazonaws.com/devzillowtestapi/log.png");
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}